ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.chatControls{
	display: inline;
	margin: 0 auto;
}

.chat{
	display: inline;
	margin: 0 auto;
}

.center {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}